<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>Code Documentation Generator</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
   <link rel="stylesheet" href="/static/css/StyleHomePage.css" />
</head>

<body>
   <!-- header section starts  -->
   <header class="header">
      <a href="#" class="logo">
         <img src="/static/images/Capture-removebg-preview.png" alt="" />
      </a>
      <nav class="navbar">
         <a href="#home">home</a>
         <a href="#about">about</a>
         <a href="#Problem">Problem</a>
         <a href="#contact">contact</a>
      </nav>
      <div class="icons">
         <div class="fas fa-search" id="search-btn"></div>
      </div>
      <div class="search-form">
         <input type="search" id="search-box" placeholder="search here..." />
         <label for="search-box" class="fas fa-search"></label>
      </div>
   </header>
   <!-- header section ends -->

   <!-- home section starts  -->
   <section class="home" id="home">
      <div class="content">
         <h3 style="font-size: 50px">Code Documentation Generator</h3>
         <p>
            It is a tool that automatically generates software documentation from
            source code, which helps developers easily understand the functions
            and parts of the code.
         </p>
         <a href="#" class="btn">get yours now</a>
      </div>
   </section>
   <!-- home section ends -->

   <!-- about section starts  -->
   <section class="about" id="about">
      <h1 class="heading"><span>about</span> us</h1>
      <div class="row">
         <div class="image">
            <img src="/static/images/Picture1.png" alt="" />
         </div>
         <div class="content">
            <h3>What Makes Our Code Documentation Generator Special?</h3>
            <p>
               Our Code Documentation Generator simplifies the process of creating
               clear, structured, and professional documentation for your codebase.
            </p>
            <p>
               It automatically extracts function definitions, variables, and
               comments to generate well-formatted documentation, reducing manual
               effort and ensuring consistency across projects.
            </p>
            <a href="/document" class="btn">Generate Now</a>
         </div>
      </div>
   </section>
   <!-- about section ends -->

   <!-- Problem section starts  -->
   <section class="Problem" id="Problem">
      <h1 class="heading">The <span>Problem</span></h1>
      <div class="box-container">
         <div class="box">
            <div class="image">
               <img src="/static/images/N1.png" alt="" />
            </div>
            <div class="content">
               <a href="#" class="title">Time Consuming</a>
               <p>
                  Manual documentation takes significant time, often hours per code
                  segment.
               </p>
               <a href="#" class="btn">read more</a>
            </div>
         </div>
         <div class="box">
            <div class="image">
               <img src="/static/images/N2.png" alt="" />
            </div>
            <div class="content">
               <a href="#" class="title">Error Prone</a>
               <p>
                  Manual processes are susceptible to errors, leading to potential
                  misunderstandings.
               </p>
               <a href="#" class="btn">read more</a>
            </div>
         </div>
         <div class="box">
            <div class="image">
               <img src="/static/images/N3.png" alt="" />
            </div>
            <div class="content">
               <a href="#" class="title">Complexity in Collaboration</a>
               <p>
                  Difficult documentation increases onboarding time and reduces team
                  efficiency.
               </p>
               <a href="#" class="btn">read more</a>
            </div>
         </div>
      </div>
   </section>
   <!-- Problem section ends -->

   <!-- contact section starts  -->
   <section class="contact" id="contact">
      <h1 class="heading"><span>contact</span> us</h1>
      <div class="row">
         <img src="/static/images/upscalemedia-transformed.png" class="map" style="width: 100%; background-size: cover" />
         <form action="">
            <h3>get in touch</h3>
            <div class="inputBox">
               <span class="fas fa-user"></span>
               <input type="text" placeholder="name" />
            </div>
            <div class="inputBox">
               <span class="fas fa-envelope"></span>
               <input type="email" placeholder="email" />
            </div>
            <div class="inputBox">
               <span class="fas fa-phone"></span>
               <input type="number" placeholder="number" />
            </div>
            <input type="submit" value="contact now" class="btn" />
         </form>
      </div>
   </section>
   <!-- contact section ends -->

   <!-- footer section starts  -->
   <section class="footer">
      <div class="share">
         <a href="#" class="fab fa-facebook-f"></a>
         <a href="#" class="fab fa-twitter"></a>
         <a href="#" class="fab fa-instagram"></a>
         <a href="#" class="fab fa-linkedin"></a>
         <a href="#" class="fab fa-pinterest"></a>
      </div>
      <div class="links">
         <a href="#">home</a>
         <a href="#">about</a>
         <a href="#">Problem</a>
         <a href="#">contact</a>
      </div>
      <div class="credit">created by <span>THO-Team</span></div>
   </section>
   <!-- footer section ends -->
   <script src="/static/js/ScriptHomePage.js"></script>
</body>

</html>